.wrapper-processes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.top-margin {
    margin-top: 40px;
}

.wrapper-processes::after {
  content: "";
  display: block;
  width: 100%;
  background: var(--gray-line);
  height: 1px;
  position: absolute;
  bottom: -10px;
}

.left-side {
  display: flex;
  gap: 8px;
}

.processes-icon {
  width: 20px;
  height: 18px;
}

.processes-text {
}

.button-add-columns {
  padding: 9px 22px;
  border-radius: 4px;
  background: var(--bc-gray-blue);
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  border: transparent;
  transition: all 0.3s;
}

.button-add-columns:hover {
    background: var(--font-blue-color);
    transform: scale(1.02);
}

