.column-list {
    max-width: 1650px;
    min-height: 100vh;
    overflow-x: auto;
    display: flex;
    gap: 40px;
    width: 100%;

    &--position {
        margin-top: 30px;
    }

    &__column {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 290px;
        min-width: 290px;
        position: relative;
    }

    &__column--position {
        margin-bottom: 20px;
    }

    &__react-sortable-task {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__react-sortable-task--full-height {
        height: 100%;
    }

    &__add-tasks-button {
        width: 32px;
        height: 32px;
        border-radius: 4px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background: var(--bc-button);
        margin: 0px auto;
        transition: all 0.3s;
    }

    &__add-tasks-button:hover {
        background: var(--blue-bc);
    }
}

.add-tasks-button--top-position {
    position: absolute;
    left: 50%;
    top: 10%;
}

@media (max-width: 900px) {
    .column-list__column {
        min-width: 230px;
    }
}

@media (max-width: 700px) {
    .column-list__column {
        min-width: 200px;
    }
}
