.column-list {
  overflow: auto;
  display: flex;
  gap: 40px;
  /* padding: 2.5rem; 
margin-left: 1rem;  */
  /* width: 100vw; 
height: 100vh;  */
}

.columns-position {
  margin-top: 30px;
}

/* //////////////////////////////////////////////////////// */

/* .react-sortable {
    display: flex;
    flex-direction: column;
    gap: 16px;

} */

.column {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 290px;
}

/* .column-item {

  display: flex;
  flex-direction: column;
} */


.task {
  display: flex;
}

.react-sortable-task {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 20%;
}

.left-side {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 4px 0px 0px 4px;
  background: var(--bc-gray);
  gap: 16px;
}

.wrapper-users-pictures {
  position: relative;
}

.second-picture {
    position: absolute;
    left: 0px;
    top: 20px;
}

.progress-scale {
  width: 34px;
  height: 14px;
}

.progress-scale-position {
    margin-top: 15px;
}

.right-side {
  background: var(--light-gray);
  padding: 16px;
  font-size: 13px;
  line-height: 15px;
  width: 100%;
}

.task-text {
  color: var(--font-blue-color);
}

.task-number {
  color: var(--default-black-color);
}

.add-tasks-button {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: var(--bc-button);
  margin: 0px auto;
  transition: all 0.3s;
}


.add-tasks-button:hover {
 background: var(--blue-bc);
}
