.header {
    padding: 25px;
    background: var( --bc-dark-blue);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.wrapper-settings {
    display: flex;
    gap: 15px;
    align-items: center;
}

.link-settings {
    width: 25px;
    height: 24px;
    margin-top: 5px;
}

.settings-icon {
    width: 25px;
    height: 24px;
}

.short-name-page {
    color: var(--white-font-color);
}

.nav-list-pages {
    display: flex;
    gap: 32px;
    align-items: center;
}

.nav-page-link {
    color: var( --default-gray-color);
    position: relative;
}

.nav-page-link:hover {
    color: var(--white-font-color);
}
.nav-page-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--orange); /* Цвет подчеркивания */
    transition: width 0.3s;
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
}

.nav-page-link:hover::after {
    width: 110%;
}

.wrapper-detail-user-info {
    display: flex;
    gap:  25px;
    align-items: center;
}

.summ {
    display: flex;
    gap:  8px;
}

.money-amount {
    color:  var(--white-font-color);
}

.currency {
    color:  var(--white-font-color);
}

.notifications-icon {
    width: 22px;
    height: 22px;
}

.wrapper-user-info {
    display: flex;
    align-items: center;
    gap: 7px;
}

.user-picture {
    width: 32px;
    height: 32px;
}

.user-name {
    color:  var(--white-font-color);
    position: relative;
}

.user-name::after {
    content: url(../../../img/arrow.svg);
    margin-left: 5px;
}